aiohttp
anytree
aria2p
appdirs
attrdict
beautifulsoup4
cloudscrape
feedparser
gitpython
google-api-python-client==2.17.0
google-auth-httplib2==0.1.0
google-auth-oauthlib==0.4.5
gunicorn
heroku3
html-telegraph-poster
js2py
lk21
lxml
messages
psutil
psycopg2-binary
pybase64
Pyrogram==1.2.9
pyshorteners
python-dotenv
python-magic
python-telegram-bot
qbittorrent-api
quoters
requests
speedtest-cli
telegraph
tenacity
TgCrypto
torrentool==1.1.0
urllib3
youtube_dl
yt-dlp

oauth2client
progress
progressbar2
httplib2shim
pyrogram
megasdkrestclient

dnspython
aiofiles
motor
pillow
hachoir
pyromod